@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1{
    width: 80%;
    position: relative;
    left: 5%;
    color: white;
    top: 10px;
}
.time{
    color: rgb(177, 255, 249);
    position: relative;
    top: 33px;
    left: 20px;
    font-size: 20px;
}
body{
    font-family: 'Helvetica', sans-serif;
    color: rgb(0, 0, 0);
    background-color: black;
}
.block{
    background-image: url("photo_2023-08-05_17-26-20.jpg");
    background-size: contain;
    width: 100%;
    height: 700px;
    position: relative;
    bottom: 13px;
}
h2{
    font-size: 18px;
    position: relative;
    top: 100px;
    left: 2.5%;
    width: 90%;
    color: rgb(252, 252, 252);
    font-weight: normal;
}
.svc{
    width: 80%;
    height: 48px;
    background: none;
    border:  solid 2px aqua;
    color:  white;
    position: relative;
    top: 130px;
    left: 10%;
    font-weight: bold;
    border-radius: 5px;
}
img{
    width: 100%;
    height: auto;
}
.btn-1{
    width: 40%;
    height: 55px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    position: relative;
    left: 2.5%;
}

.btn-2{
    width: 40%;
    height: 55px;
    border: solid 2px rgb(255, 255, 255);
    background: none;
    border-radius: 30px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    position: relative;
    left: 5%;
}
.buttun-block{
    position: relative;
    top: 50px;
    width: 100%;
    left: 2.5%;
}
.img-1{
    position: relative;
    top: 90px;
}
span{
    color: rgb(195, 255, 255);
    font-size: 24px;
}
li{
    color: rgb(255, 255, 255);
    margin-top: 33px;
    font-size: 20px;
    width: 85%;
    position: relative;
    left: 7.5%;
    top: 20px;

}
ol{
    position: relative;
    top: 100px;
  bottom: 200px;
  width: 104%;
  left: -37px;
  background-color: rgb(0, 0, 0);
}
.block-w{
    background-color: rgb(2, 2, 2);
 position: relative;
 bottom: 203px;
}
h1{
    position: relative;
    left: 2.5%;
}
.block-v{
    width: 100%;
    height: 380px;
    position: relative;
    top: 140px;
}
.number-btn{
    width: 140px;
    height: 55px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    position: relative;
    left: 20px;
    top: 43px;
    font-weight: bold;
    border-radius: 30px;
}
.fast{
    background-color: black;
    width: 100%;
    height: 430px;
}
.number{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: none;
    border: solid 2px aqua;

color: aqua;
    position: relative;
    top: 50px;
    left: 18px;
    font-size: 23px;
    font-weight: bolder;
}

.number-2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: none;
    border: solid 2px aqua; 
    color: aqua;
    position: relative;
    top: 50px;
    font-size: 23px;
    font-weight: bolder;
    
    
    left: 18px;
}

.number-3{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: none;
    border: solid 2px aqua;

color: aqua;
    position: relative;
    top: 50px;
    
    left: 18px;
    font-size: 23px;
    font-weight: bolder;
}
.number-h1{
    font-size: 20px;
    position: relative;
    bottom: 9px;
    left: 90px;
    color: rgb(214, 255, 255);
}
.number-p{
    font-size: 14px;
    color: white;
    width: 90%;
    position: relative;
    left: 20px;
    top: 22px;
    font-weight: normal;
    font-family: 'Helvetica', sans-serif;
}
.price{
    position: relative;
    top: 40px;
    left: 20px;
    font-size: 29px;
}
.img-block-1{
    position: relative;
    bottom: 141px;
}
.rmb-1{
    border-radius: 50%;
    width: 200px; /* Задайте фиксированную ширину */
    height: 200px; /* Задайте фиксированную высоту */
    object-fit: cover; /* Картинка будет обрезана, чтобы заполнить область */
    border: solid 2px aqua;
}

.rmb-2{
    border-radius: 50%;
    width: 170px; /* Задайте фиксированную ширину */
    height: 170px; /* Задайте фиксированную высоту */
    object-fit: cover; /* Картинка будет обрезана, чтобы заполнить область */
    position: relative;
    left: 10px;
    top: 20px;
    border: solid 2px aqua;
}

.rmb-3{
    border-radius: 50%;
    width: 170px; /* Задайте фиксированную ширину */
    height: 170px; /* Задайте фиксированную высоту */
    object-fit: cover; /* Картинка будет обрезана, чтобы заполнить область */
    position: relative;
    bottom: 100px;
    left: 40px;
    
    border: solid 2px aqua;
}

.rmb-4{
    border-radius: 50%;
    width: 190px; /* Задайте фиксированную ширину */
    height: 190px; /* Задайте фиксированную высоту */
    object-fit: cover; /* Картинка будет обрезана, чтобы заполнить область */
    position: relative;
    left: 161px;
    bottom: 50px;
    border: solid 2px aqua;
}
input{
    width: 90%;
    position: relative;
    left: 5%;
    height: 55px;
    border-radius: 33px;
    background-color: rgb(75, 75, 75);
    color: white;
    border: solid 2px aqua;
    margin-top: 25px;
}
.sumbit{
    width: 60%;
    position: relative;
    left: 20%;
    height: 50px;
    border: solid 2px aqua;
    background: none;
    font-weight: bold;
    color: white;
    top: 22px;
    border-radius: 33px;
}
input::placeholder {
    color: #b9b9b9; /* Цвет текста placeholder */
    font-style: italic; /* Курсивное начертание */
    /* Дополнительные стили по вашему выбору */
    position: relative;
    left: 15px;
  }
  h4{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    width: 80%;
    position: relative;
    left: 8%;
  }
  h3{
    color: rgb(201, 255, 248);
    font-size: 25px;
    position: relative;
    left: 27px;
  }
  .obout-block{
    width: 100%;
    height: 300px;
    background-color: rgb(26, 26, 26);
    border-radius: 20px 20px 0 0;
    position: relative;
    top: 50px;
    
  }
  .tg{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 100px;
    border-radius: 50%;
    right: 50px;
  }
  .social-bar{
    background: none;
    position: relative;
    left: 40px;
    bottom: 100px;
  }
  .social-icon{
    font-size: 30px;
    color: white;
    margin-right: 46px;
  }
  
.message {
    background-color: #000000;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 20px 20px 0px 20px;
    font-size: 22px;
    color: #333;
    width: 88%;
    margin-left: -1%;
    margin-top: -200px;
    height: 82px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    z-index: 9999;
    color: white;
  }