       
ul {
    list-style-type: none;
  }
  span{
    font-size: 15px;
    color: rgb(69, 62, 150);
    position: relative;
    bottom: 175px;
    left: 142px;
    font-weight: normal;
    width: 400px;
  }
      body{
        font-size: 33px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(0, 0, 0);
        background-color: rgb(232, 236, 240);
        font-weight: 900;
        width: 200px;
      }
      h2{
        font-size: 35px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(65, 46, 77);
        margin-left: 19px;
        position: relative;
        bottom: 20px;
      }
      img{
        width: 150px;
        margin-left: -20px;
        border-radius: 8px;
        margin-top: 20px;
      }
      
  #cartItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -170px;
    margin-left: 29px;
  }
  
  #cartItems li {
    margin-bottom: 20px;
    margin-left: -34px;
  }
  
  #cartItems img {
    max-width: 100%;
    height: auto;
  }
  label{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    bottom: 40px;
    left: -40px;
    height: 10px;
    color: rgb(95, 95, 95);
  }
  
 .menu-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #312e3b;
  height: 60px;
  margin-left: -10px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: -2px;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 90px;
}

.menu a .material-icons {
  font-size: 31px;
}

.material-icons {
  font-size: 104px;
  margin-right: 27px;
  margin-top: 15px;
}

.material-icons[id="1"] {
  color: #edede9;
}
p{
  font-size: 10px;
  font-weight: normal;
  position: relative;
  left: 140px;
  bottom: 180px;
  color: #86848d;
  background-color: #84ff9f;
  border-radius: 60px;
}
h6{
  font-size: 10px;
  font-weight: normal;
  position: relative;
  left: 140px;
  bottom: 200px;
  color: rgb(34, 34, 43);
}