.img-block{
    width: 100%;
    height: auto;
    background: rgb(231, 226, 226);
}
img{
    width: 100%;
    height: auto;
}
.block{
    width: 90%;
    margin-left: 5%;
    height: 200px;
    background-color: white;
    opacity: calc(60%);
    position: relative;
    bottom: 400px;
}
p{
    font-size: 40px;
    width: 90%;
    margin-left: 5%;
    font-family: 'Times New Roman', Times, serif;
}
.p2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    margin-right: 10%;
    position: relative;
    bottom: 250px;
}
.card-block{
    width: 100%;
    height: 500px;
    background-color: rgb(243, 240, 235);
    display: flex;
    overflow-y: auto;
    position: relative;
    bottom: 250px;
}

.card-block[id="1"]{
    margin-bottom: -80px;
}

.card-block[id="2"]{
    margin-bottom: -80px;
}
.card{
    height: auto;
    width: auto;
    margin-left: 20px;
    margin-top: 10px;
}
.img-card{
    width: 170px;
    height: auto;
}
h1{
    font-size: 24px;
    color: rgb(100, 63, 133);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
.price{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(92, 92, 92);
    position: relative;
    bottom: 34px;
    right: 10px;
    font-weight: bold;
}
.size{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    bottom: 15px;
    right: 8px;
    color: rgb(177, 177, 177);
    font-weight: bold;
}