
body{
  background-color: rgb(255, 255, 255);
}
input{
  width: 95%;
  height: 45px;
  border-radius: 30px;
  font-size: 50px;
  position: relative;
  top: -1px;
  background-color: rgb(233, 233, 233);
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: solid 0.6px;
  border-color: rgb(255, 187, 0);
}
.material-icons{
  position: relative;
  top: -45px;
  left: 280px;
  background: none;
  color: rgb(0, 0, 0);
}

button{
  background: none;
  border: none;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  color: rgb(56, 53, 70);
  margin-left: 10px;
}
div[id="1"]{
  background-color: rgb(206, 206, 206);
  height: 33px;
  width: 110px;
  border-radius: 30px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-left: 10px;
}
.item{
  background-color: rgb(226, 226, 226);
  height: 33px;
  width: 110px;
  border-radius: 30px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-left: 10px;
}
p{
 position: relative;
 top: -15px;
 font-size: 20px;
}
div[id="0"]{
  position: relative;
  top: -40px;
}
div[id="2"]{
  margin-top: -50px;
}
h1[id="3"]{
  font-size: 30px;
}
::placeholder{
  position: relative;
  left: 15px;
  bottom: 10px;
  font-size: 22px;
}
body{
  background-color: rgb(244, 246, 247);
}